logs/
mysql/logs/
nginx/logs/
node/eggFramework/logs/
node/eggFramework/npm-debug.log
node/eggFramework/node_modules/
node/eggFramework/coverage/
node/eggFramework/.idea/
node/eggFramework/run/
node/eggFramework/typings/
node/eggFramework/.DS_Store
node/eggFramework/.vscode
node/eggFramework/*.swp
node/eggFramework/*.lock
node/eggFramework/*.js
!.autod.conf.js

node/eggFramework/app/**/*.js
node/eggFramework/test/**/*.js
node/eggFramework/config/**/*.js
node/eggFramework/app/**/*.map
node/eggFramework/test/**/*.map
node/eggFramework/config/**/*.map
